node_modules/
dist/
dist-ssr/
*.local

# Config de prod générée/montée par Helm (ConfigMap). En dev, créer manuellement.
public/config.js

# Logs / éditeurs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
